  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in" ng-controller="DashController">
<ion-header-bar class="bar-assertive-900 bar bar-header disable-user-behavior" align-title="left" ng-style="{'background-color':'blue'}">    
<div class="title center title-left header-item" style="transform: translate3d(0px, 0px, 0px);">Test Skin Doctor</div>
</ion-header-bar>

<br/>
<br/>

<br/>

    <button style="height: 50px; width: 100px" ng-click="takePicture()">
    </button>
  </ion-content>
